<div class="my-1 space-y-1">
    <div class="space-x-2">
        {% set targetsLabel = targets.containsOneItem() ? "target" : "targets" %}
        {% set projectsLabel = projects.containsOneItem() ? "project #{projects.first().name}" : "#{projects.count()} projects" %}
        {% if tasks.remaining().isNotEmpty() %}
            <div class="bg-blue px-1">Cx</div><span class="text-blue">Running {{ targetsLabel }} <strong>{{ targets|join(', ') }}</strong> for {{ projectsLabel }}</span>
        {% elseif tasks.remaining().isEmpty() and tasks.failed().isEmpty() %}
            <div class="bg-green px-1">Cx</div><span class="text-green">Successfully ran {{ targetsLabel }} <strong>{{ targets|join(', ') }}</strong> for {{ projectsLabel }}</span>
        {% elseif tasks.remaining().isEmpty() and tasks.failed().isNotEmpty() %}
            <div class="bg-red px-1">Cx</div><span class="text-red">Running {{ targetsLabel }} <strong>{{ targets|join(', ') }}</strong> for {{ projectsLabel }} failed</span>
        {% endif %}
    </div>

    <div class='ml-3 space-y-1'>
        {% if tasks.remaining().isNotEmpty() %}
            <div><span class='mr-2 text-blue'>→</span>Executing {{ tasks.running().count() }}/{{ tasks.remaining().count() }} remaining {{ tasks.containsOneItem() ? 'task' : 'tasks' }}...</div>
        {% endif %}
        <ul class='list-none'>
            {% for task in tasks %}
                <li class="space-x-2">
                    {% if not task.process.isStarted() %}
                        <span>&nbsp;</span>
                    {% elseif task.process.isRunning() %}
                        <span class="text-blue">{{ spinner }}</span>
                    {% elseif task.process.isSuccessful() %}
                        <span class="text-green">✔</span>
                    {% else %}
                        <span class="text-red">✗</span>
                    {% endif %}
                    <span class="space-x-1">
                        <span class="text-gray-400">cx run</span>
                        <span>{{ task.project.name }} {{ task.target }}</span>
                    </span>
                </li>
            {% endfor %}
        </ul>

        {% if tasks.remaining().isNotEmpty() and tasks.finished().isNotEmpty() %}
            <div>
                {% if tasks.failed().isEmpty() %}
                    <span class="mr-2 text-green">✔</span>
                {% else %}
                    <span class="mr-2 text-red">✗</span>
                {% endif %}
                <span>{{ tasks.successful().count() }}/{{ tasks.finished().count() }} succeeded</span>
            </div>
        {% endif %}
    </div>
</div>
